@import "../../responsive.scss";

.navbar-actions {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navbar-search {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    background-color: #f0f0f0;
    color: #007bff;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:focus {
      background-color: #e0e0e0;
      outline: none;
    }
  }

  .close-icon {
    position: absolute;
    right: 0.5rem;
    font-size: 1.25rem;
    color: #007bff;
    cursor: pointer;
  }

  .list {
    color: #007bff;
    background-color: #ffffff;
    position: absolute;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    right: 0;
    top: 40px;
    width: 100%;
    z-index: 1000;
    max-height: 348px;
    overflow-y: scroll;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2);

    .movie {
      display: flex;
      gap: 6px;
      cursor: pointer;
      margin-top: 12px;
      text-decoration: none;

      img {
        width: 30%;
        height: 100px;
      }

      .txt {
        width: 70%;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        color: rgb(50, 58, 118);

        .title {
          font-weight: bold;
          font-size: 13px;
        }

        .scnd {
          color: #777;
          font-size: 14px;

          .date {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .list::-webkit-scrollbar {
    width: 8px;
  }

  .list::-webkit-scrollbar-thumb {
    background-color: rgb(0, 123, 255);
    border-radius: 4px;
  }

  .list::-webkit-scrollbar-track {
    margin: 14px 0;
    background: #f0f0f0;
    border-radius: 4px;
  }
}
