@import "../../responsive.scss";

.navbar {
  background-color: #ffffff;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;

  @include sm {
    padding: 8px 20px;
  }

  .left {
    display: flex;
    gap: 60px;
    align-items: center;

    .navbar-brand {
      .navbar-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #559ebb;
        letter-spacing: 1px;
      }
    }

    .navbar-menu {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      @include md {
        display: none;
      }

      .navbar-item {
        margin-right: 1.5rem;

        .navbar-link {
          text-decoration: none;
          color: #007bff;
          transition: color 0.3s ease;
          text-transform: uppercase;
          white-space: nowrap;

          &:hover {
            color: #0056b3;
          }

          &.active {
            color: #0056b3;
          }
        }
      }
    }
  }

  .icon {
    display: none;
    color: #559ebb;

    cursor: pointer;
    z-index: 3000;

    @include md {
      display: block;
    }

    svg {
      width: 36px;
      height: 36px;
    }
  }

  .search {
    @include md {
      display: none;
    }
  }
}

.mobile {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 16px 40px;
  display: none;
  padding: 0 40px;

  &.active {
    max-height: 500px;
    border-bottom: 1px solid #ddd;
    display: flex;
  }

  padding: 0 20px;

  .mobile-search {
    margin-top: 20px;
  }

  .navbar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 0;

    .navbar-item {
      margin-right: 1.5rem;
      padding: 6px 0;

      .navbar-link {
        text-decoration: none;
        transition: color 0.3s ease;
        text-transform: uppercase;
        white-space: nowrap;
        color: #206dbf;
        font-weight: bold;
        letter-spacing: 1.1px;
        padding: 10px 0;

        &:hover {
          color: #16508d;
        }

        &.active {
          color: #16508d;
        }
      }
    }
  }
}
